<h3>Welcome <%= @user.email %> to your uncivilization!</h3>

<%= link_to "Start The Game", edit_user_nation_path(current_user, @nation), id: 'start_game', remote: true %>
<div id="event">

</div>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-bottom">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"> <%= @nation.nation_name %></a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li><span class="navbar-text" id="capital">Capital: <%= @nation.capital %></span></li>
      <li><span class="navbar-text" id="population">Population: <%= @nation.population %></span></li>
      <li><span class="navbar-text" id="stability">Stability: <%= @nation.stability %></span></li>
      <li><span class="navbar-text" id="lumber">Lumber: <%= @nation.lumber %></span></li>
      <li><span class="navbar-text" id="minerals">Minerals: <%= @nation.minerals %></span></li>
      <li><span class="navbar-text" id="oil">Oil: <%= @nation.oil %></span></li>
      <li><span class="navbar-text" id="metal">Metal: <%= @nation.metal %></span></li>
    </ul>
  </div>
</nav>
