<!DOCTYPE html>
<html>
  <head>
    <title>NationBuilder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Uncivilization</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><% if user_signed_in? %> <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link", :method => :delete  %> <% end %></li>
          <li class="nav-item"><% if !user_signed_in? %> <%= link_to "Log In", new_user_session_path, class: "nav-link" %> <% end %></li>
          <li class="nav-item"><% if !user_signed_in? %> <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %> <% end %></li>
        </ul>
      </div>
    </nav>

  <body>
    <% if current_page?('/') %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
